* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden; /* agar tidak bablas*/
}

/* Navbar */
nav {
  display: flex;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  color: black;
  font-weight: 10px;
  font-family: "Montserrat", sans-serif;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 40%;
}
nav ul li a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  padding: 8px;
  font-size: 0.8em;
}
nav ul li a:hover {
  color: #ffbd12;
}

.logo {
  font-style: normal;
  font-weight: 900;
}

.getstarted {
  background-color: #ffbd12;
  box-sizing: border-box;
  padding: 6px;
  color: white;
  font-size: 0.8em;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.getstarted:hover {
  background-color: rgb(180, 126, 0);
}

/* hamburger menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  z-index: 2;
  transition: all 0.5s;
}

/* responsive */
/* ukuran tablet 768/868*/
@media screen and (max-width: 868px) {
  nav ul {
    width: 55%;
  }
}
/* ukuran mobile */
@media screen and (max-width: 576px) {
  .getstarted {
    display: none;
  }
  nav ul {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 100vh;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: black;
    transform: translateX(100%); /*agar posisi disembunyikan ke kanan*/
    transition: all 1s;
    opacity: 0;
  }
  .menu-toggle {
    display: flex;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
  }
  nav ul li a {
    color: white;
  }
}

/* Modal Login */
.modal-content {
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.25),
    -4px -4px 60px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.btn-signin {
  position: relative;
  bottom: 0;
  background: #c4c4c4;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: -0.0084em;
  color: #000000;
  transition: bottom 0.5s;
}
.btn-signin:hover {
  position: relative;
  bottom: 5px;
}
.modat-tilte {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height, or 114% */
  letter-spacing: -0.0084em;
  color: #000000;
}
.close {
  top: -30px;
  right: -15px;
}
.modal-header {
  border-bottom: none;
}
.modal-body,
.modal-footer {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  /* or 246% */
  text-align: center;
  letter-spacing: -0.0084em;
  color: #000000;
}
.form-control {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.modal-body p span {
  color: rgb(102, 101, 101);
}
.modal-body p span:hover {
  color: #ffbd12;
  cursor: pointer;
}
/* Style khusus Register */
input.border-secondary {
  border-radius: 30px;
  width: 270px;
}
.allSign {
  color: #00c6ae;
}
.allSign:hover {
  color: #038878;
  cursor: pointer;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
